
body {
    font-family: system-ui, Roboto;
    
    
}
.page1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 

/* HEADER */
.header     {
    background-color: #1f2937; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10px;
}

.h1,
.links,
.logo   {
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.links {
display: flex;
gap: 30px;
}

.logo   {
    font-size: 24PX;  
    font-weight: 800;
}

/* SECTION1 */


.section1 {
    display: flex;
    flex: 1;
    align-items: center;
    height: 400px;
    background-color: #1f2937;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    /* box-shadow: 0px 3px 20px 0 #1f2937; */
    
    
}

img {
    height: 250px;
    width: auto;
}

.text {
    width: 400px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    
}
.h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext { 
    font-size: 18px;
    color: #e5e7eb;
}

button:hover { 
    size: 50% auto;
}
    


button {
    font-weight: bolder;
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
    border: #3882f6;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: 0.5s;
    cursor: pointer;
}

/* SECTION2 */

.section2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
}

.h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.squares {
    display: flex;
    flex-direction: row;
    
}

.box {
    border: 4px solid #3882f6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    cursor: pointer;
}
.box:hover {
    width: 250px;
    height: 250px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 10px;
    
}

.info   {
    display: flex;
    width: 200px;
    text-align: center;
}
    
/* SECTION3 */

.section3 {
    background-color: #E5E7EB;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    height: 400px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.name  {
    font-size: large;
    font-weight: 900;
    text-align: right;
    padding-right: 50px;
}

/* SECTION4 */

.section4 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding-left: 10%;
    padding-right: 10%;
}
.bluebox {
    background-color: #3882f6;
    border-radius: 5px;
    width: 1200px;
    height: 150px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button2 {
    font-weight: bolder;
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
    border: 2px solid #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;

}
.CTA-title { 
    font-size: 25px;
    font-weight: bold;
    color: white;
}

/* FOOTER */
.footer {
    background-color: #1f2937; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding: 15px;

}
.copy {color: #E5E7EB;}